/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.site-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ekran yüksekliği kadar sayfa yüksekliği */
}

.site-image {
    width: 200px; /* Resim genişliği */
    height: auto; /* Otomatik yükseklik ayarı */
    margin-bottom: 20px; /* Resim ile mesaj arasına boşluk bırakma */
}

.site-message {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölgelendirme */
    max-width: 80%;
    text-align: center;
}

.site-message p {
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

/* QR KOD bölümü stil ayarları */
.qr-container {
    text-align: center;
    margin-top: 20px;
}

.qr-box {
    background-color: red; /* Kutu rengi kırmızı */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Siyah gölge */
}

.qr-title {
    font-size: 20px;
    color: white; /* Yazı rengi beyaz */
    text-shadow: 1px 1px 2px black; /* Siyah gölge efekti */
}

.qr-link {
    display: inline-block;
    margin-top: 10px; /* Kutudan biraz boşluk bırak */
    color: white; /* Yazı rengi beyaz */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Alt çizgiyi kaldır */
    background-color: red; /* Dış renk kırmızı */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Siyah gölge */
    font-weight: bold;
}

.qr-link:hover {
    background-color: darkred; /* Üzerine gelince daha koyu kırmızı */
}

/* QR Kodu oluşturma bölümü stil ayarları */
.qr-section {
    margin-top: 20px;
    text-align: center;
}

.qr-result {
    margin-top: 20px;
}

.image-preview {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
